table {
    border: 2px solid orange;
    /* Sets an orange border for the entire table */
    border-collapse: collapse;
    /* Collapses the border to be more clean and concise */
    width: 100%;
    /* Optional: Ensures the table stretches to the width of its container */
    margin-bottom: 20px;
    /* Optional: Adds space below the table */
}

th,
td {
    border: 1px solid orange;
    /* Sets an orange border for each cell */
}

tr {
    background-color: #222;
    /* Dark background for the table rows */
}

tr:hover {
    background-color: #333;
    /* Slightly lighter background for hover effect */
}

th {
    padding: 12px 15px;
    /* More padding within header cells */
    background-color: #333;
    /* Dark background for headers */
    color: orange;
    /* Orange text color for headers */
}

td {
    padding: 15px;
    /* More padding within cells */
    color: #fff;
    /* White text color for content */
}

/* Ensure the table header is not affected by scroll */
thead th {
    position: sticky;
    top: 0;
}

/* Change the color of the sorting arrow to white for visibility */
th.sorting::after,
th.sorting_asc::after,
th.sorting_desc::after {
    color: white;
}

/* Style the pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #333;
    color: white;
    border: 1px solid #444;
    /* Slightly lighter border for buttons */
    padding: 5px 10px;
    /* More padding within pagination buttons */
    margin-left: 5px;
    /* Space between pagination buttons */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: orange;
    color: #121212;
}

.dataTables_filter {
    margin-bottom: 20px;
}
.dataTables_filter label {
    display: block;
  }
  
  .dataTables_filter label::before {
    content: none;
  }
  